$header-font: Arial, Helvetica, sans-serif;
$para-font: Arial, Helvetica, sans-serif;

$fnt-weight-reg: 300;
$fnt-weight-bold: 900;

$fnt-sz-h1: 3rem;
$fnt-sz-h2: 2.25rem;
$fnt-sz-h3: 1.5rem;
$fnt-sz-body: 1rem;